php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0

<Files ftm_config.yml>
  order allow,deny
  deny from all
</Files>


<IfModule mod_rewrite.c>
  RewriteEngine on
  
  RewriteCond %{REQUEST_URI} !/unsupported.*
  RewriteCond %{REQUEST_URI} !/assets/img/global/favicon.ico
  RewriteCond %{HTTP_USER_AGENT} MSIE [NC]
  RewriteRule ^(.*)$ /unsupported/ [L,R=301]
</IfModule>