/* by Quodis © 2010 */

html, body { height: 100%; }

body {
	position: relative;
	width: 100%;
	color: #333;
	font-family: Georgia, serif;
	font-size: 13px;
	line-height: 20px; /* baseline grid of 20px */
	background: #16A2B3 url("../img/global/main-loading.gif") center center no-repeat;
	overflow: hidden;
}
/* ----------------------------------------- */
/* END General Styles */


/* BEGIN Page Structure */
/* ----------------------------------------- */
div#page {
	width: 100%;
	height: 100%;
	background-color: #ECF8FA;
	background-image: url("../img/sd/machine-tubes-sd.png"), url("../img/sd/main-bg-sd.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

header#brand {
	position: absolute;
	z-index: 40;
	left: 0;
	top: 0;
	margin: 20px;
}

section#bubbles {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

section#machine {
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 50%;
	width: 450px;
	height: 315px;
	margin: 0 0 0 -225px;
	background: transparent url(../img/sd/machine-body-sd.png) no-repeat bottom center;
}

footer {
	position: absolute;
	z-index: 30;
	left: 50%;
	bottom: 0;
	width: 320px;
	height: 60px;
	margin: 0 0 0 -160px;
	text-align: center;
}
/* ----------------------------------------- */
/* END Page Structure */


/* BEGIN Page Components */
/* ----------------------------------------- */

/* brand */
header#brand h1 {
	display: block;
}

header#brand h1 a,
header#brand h1 a:visited {
	display: block;
	width: 210px;
	height: 112px;
	background: transparent url(../img/sd/ftm-brand-logo-sd.png) no-repeat center center;
	overflow: hidden;
	text-indent: -9999px;
}
/* brand /*/

/* search-box */
form#search-box {
	position: absolute;
	z-index: 10;
	top: 75px;
	left: 95px;
	height: 40px;
	width: 260px;
}

form#search-box label {
	text-indent: -9999px;
	position: absolute;
	top: 0;
}

form#search-box input.text {
	display: block;
	background: transparent;
	border: 0 none;
	color: #FFF;
	float: left;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 0.5px;
	line-height: 30px;
	height: 30px;
	padding: 7px 45px 3px 10px;
	width: 205px;
	outline: 0;
	vertical-align: baseline;
}

form#search-box .button {
	background: transparent url("../img/sd/search-sbmt-bttn-sd.png") no-repeat center center;
	border: 0 none;
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 8px 0 0 -40px;
	outline: 0 none;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}

form#search-box .button.loading {
	background: transparent url("../img/sd/machine-loading-sd.gif") no-repeat center center;
}
/* search-box /*/

/* levers */
li.lever a {
	position: absolute;
	z-index: 20;
	display: block;
	width: 50px;
	height: 60px;
	background: transparent url(../img/sd/machine-levers-sd.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}

li#gravity-inverter a {
	top: 170px;
	left: 80px;
}

li#flow-transposer a {
	top: 170px;
	right: 75px;
}

li#gravity-inverter.up a { background-position: 0 0; }
li#gravity-inverter.down a { background-position: -50px 0; }

li#flow-transposer.up a { background-position: -113px 0; }
li#flow-transposer.down a { background-position: -163px 0; }
/* levers /*/

/* activity-indicator */
li#activity-indicator {
	position: absolute;
	z-index: 30;
	top: 18px;
	right: 25px;
	display: block;
	width: 25px;
	height: 50px;
	background: transparent url(../img/sd/light-bulb-sd.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}

li#activity-indicator.off {
	background-position: top left;
}

li#activity-indicator.on {
	background-position: -27px 0;
}
/* activity-indicator /*/

/* pressure-indicator */
li#pressure-indicator {
	position: absolute;
	z-index: 40;
	top: 180px;
	left: 155px;
	display: block;
	width: 140px;
	height: 50px;
	background: transparent url(../img/sd/pressure-display-sd.png) no-repeat bottom center;
}

li#pressure-indicator .value {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-weight: 400;
	text-shadow: 0 1px #BDF0F4;
	color: #0D5C66;
	font-size: 13px;
	vertical-align: bottom;
	width: 30px;
	height: 18px;
	margin: 32px 0 0 0;
}

li#pressure-indicator .value.min {
	text-align: right;
	float: left;
}

li#pressure-indicator .value.max {
	text-align: left;
	float: right;
}

li#pressure-indicator .pointer {
	position: absolute;
	z-index: 40;
	bottom: 0;
	left: 35px;
	display: block;
	width: 70px;
	height: 30px;
	background: transparent;
	/* background: transparent url(../img/sd/pressure-display-pointer-sd.png) no-repeat bottom center; */
	/* overflow: hidden; */
	/* text-indent: -9999px; */
}
/* pressure-indicator /*/

/* dashboards */
dl.dashboard {
	position: absolute;
	z-index: 60;
	bottom: 0;
	width: 260px;
	height: 130px;
	background: transparent url(../img/sd/dashboard-sd.png) no-repeat top center;
}

dl#social-tools {
	left: -180px;
}

dl#social-tools dt {
	position: absolute;
	z-index: 10px;
	top: 54px;
}

dl#social-tools dd {
	position: absolute;
	z-index: 10px;
	top: 28px;
}

dl#social-tools dt.twitter-follow,
dl#social-tools dd.twitter-follow {
	left: 30px;
}

dl#social-tools dt.twitter-retweet,
dl#social-tools dd.twitter-retweet {
	left: 94px;
}

dl#social-tools dt.fb-share,
dl#social-tools dd.fb-share {
	left: 158px;
}

dl#social-tools a {
	background: transparent url(../img/sd/dashboard-bttns-sd.png) no-repeat;
	width: 62px;
	text-align: center;
	display: block;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	text-transform: lowercase;
}

dl#social-tools dt a {
	height: 22px;
	line-height: 20px;
	padding: 0 0 0 18px;
	font-size: 15px;
	color: #FFF;
	font-weight: 300;
	width: 44px;
	text-align: left;
}

dl#social-tools dd a {
	height: 20px;
	font-size: 15px;
	padding: 0 0 5px 0;
	font-weight: 400;
}

dl#social-tools dt.twitter-follow a,
dl#social-tools dt.twitter-follow a:visited {
	background-position: 0 -25px;
	text-decoration: none;
}

dl#social-tools dt.twitter-follow a:hover {
	background-position: 0 -75px;
}

dl#social-tools dd.twitter-follow a,
dl#social-tools dd.twitter-follow a:visited {
	background-position: 0 0;
	color: #0A454D;
	text-decoration: none;
}

dl#social-tools dd.twitter-follow a:hover {
	color: #0A454D;
}

dl#social-tools dt.twitter-retweet a,
dl#social-tools dt.twitter-retweet a:visited {
	background-position: -65px -25px;
	text-decoration: none;
}

dl#social-tools dt.twitter-retweet a:hover {
	background-position: -65px -75px;
}

dl#social-tools dd.twitter-retweet a,
dl#social-tools dd.twitter-retweet a:visited {
	background-position: -65px 0;
	color: #374D17;
	text-decoration: none;
}

dl#social-tools dd.twitter-retweet a:hover {
	color: #374D17;
}

dl#social-tools dt.fb-share a,
dl#social-tools dt.fb-share a:visited {
	background-position: -130px -25px;
	text-decoration: none;
}

dl#social-tools dt.fb-share a:hover {
	background-position: -130px -75px;
}

dl#social-tools dd.fb-share a,
dl#social-tools dd.fb-share a:visited {
	background-position: -130px 0;
	text-decoration: none;
	color: #2B5072;
}

dl#social-tools dd.fb-share a:hover {
	color: #2B5072;
}

dl#counter {
	right: -190px;
	text-align: center;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
}

dl#counter dt {
	position: absolute;
	z-index: 10px;
	top: 56px;
	left: 35px;
	width: 180px;
	height: 24px;
	color: #805957;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.2;
	overflow: hidden;
}

dl#counter dd {
	position: absolute;
	z-index: 10px;
	top: 28px;
	left: 35px;
	width: 180px;
	height: 26px;
	padding: 0 0 5px 0;
	color: #593F3E;
	background: transparent url(../img/sd/dashboard-bttns-sd.png) no-repeat -195px -2px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
	overflow: hidden;
}
/* dashboards /*/

/* bubbles */
article.bubble.tweet {
	position: absolute;
	z-index: 10;
	top: 20%;
	left: 40%;
	width: 140px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	padding: 30px;
}

article.bubble.tweet header,
article.bubble.tweet p {
	text-align: center;
}

article.bubble.tweet h1 {
	line-height: 20px;
}

article.bubble.tweet .avatar-wrapper {
	position: absolute;
	z-index: 10;
	top: 50%; /* final: 20px	 */
	left: 50%; /* final: -22% */
	width: 80px;
	background-color: transparent;
  	background-position: center center;
  	background-repeat: no-repeat;
  	margin: 0;
}

article.bubble.tweet .avatar-wrapper a {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../img/sd/tweet-avatar-wrapper-sd.png);
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	-moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -o-transform: rotate(-5deg);
	padding: 1px;
	border: 1px solid transparent;
	margin: 15px auto;
}

article.bubble.tweet .avatar-wrapper img {
	background: #FFF;
	width: 50px;
	height: 50px;
}

article.bubble.tweet p.text {
	margin: 15px 0 0 0;
	width: 100%;
	overflow: hidden;
}

article.bubble.tweet a {
	text-decoration: underline;
}

article.bubble.tweet h1 a,
article.bubble.tweet h1 a:visited {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;
}

article.bubble.tweet time a,
article.bubble.tweet time a:visited {
	font-style: italic;
	text-decoration: none;
}

/* normal txt color */
article.bubble.tweet {
	color: #3E6163;
}

article.bubble.tweet a,
article.bubble.tweet a:visited {
	color: #3DA6B3;
}

/* firefox txt colors */
article.bubble.tweet.firefox {
	color: #4C3E01;
}

article.bubble.tweet.firefox a,
article.bubble.tweet.firefox a:visited {
	color: #8C7202;
}

article.bubble.tweet span.mood {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	padding: 1px 2px;
}

article.bubble.tweet span.mood.violet { color: #6B5DC1; }
article.bubble.tweet span.mood.pink { color: #D05F6F; }
article.bubble.tweet span.mood.green { color: #6C9931; }
article.bubble.tweet span.mood.orange { color: #DF731B; }

article.bubble.tweet dl {
	line-height: 20px;
	font-size: 13px;
}

article.bubble.tweet dt {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #1A7B82;
	float: left;
	text-align: right;
	width: 32%;
	line-height: 20px;
	letter-spacing: 0.2px;
	clear: both;
}

article.bubble.tweet.firefox dt {
	color: #8C7202;
}

article.bubble.tweet dd {
	line-height: 20px;
	padding: 0 0 0 37%;
	width: 63%;
}

article.bubble.tweet nav {
	position: absolute;
	z-index: 30;
	top: 95px;
	left: -20%;
	width: 70px;
	height: 70px; 
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
  	padding: 10px 0 10px 0;
  	-moz-transform: rotate(-8deg); -webkit-transform:rotate(-8deg); -o-transform:rotate(-8deg);
}

article.bubble.tweet nav li {
	margin: 2px 0 2px 0;
	text-align: center;
}

article.bubble.tweet nav li.flip { -moz-transform: rotate(3deg); -webkit-transform:rotate(3deg); -o-transform:rotate(3deg); }
article.bubble.tweet nav li.retweet { -moz-transform: rotate(-3deg); -webkit-transform:rotate(-3deg); -o-transform:rotate(-3deg); }
article.bubble.tweet nav li.follow { -moz-transform: rotate(3deg); -webkit-transform:rotate(3deg); -o-transform:rotate(3deg); }

article.bubble.tweet nav a,
article.bubble.tweet nav a:visited,
article.bubble.tweet.firefox nav a,
article.bubble.tweet.firefox nav a:visited {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 4px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 0.5px;
}

article.bubble.tweet nav li.flip a, article.bubble.tweet nav li.flip a:visited { background: #536366; }
article.bubble.tweet nav li.flip a:hover { background: #2A3233; }
article.bubble.tweet nav li.retweet a, article.bubble.tweet nav li.retweet a:visited { background: #8DC339; }
article.bubble.tweet nav li.retweet a:hover { background: #68902A; }
article.bubble.tweet nav li.follow a, article.bubble.tweet nav li.follow a:visited { background: #17ABBD; }
article.bubble.tweet nav li.follow a:hover { background: #117D8A; }

/* size xxl */
article.bubble.tweet.xxl { height: 260px; }

/* size xl */
article.bubble.tweet.xl { height: 220px; }

/* size l */
article.bubble.tweet.l { height: 180px; }

/* size m */
article.bubble.tweet.m { height: 140px; }

/* size s */
article.bubble.tweet.s { height: 100px; }

/* opacity very high */

	/* size xxl */
	article.bubble.tweet.vhigh.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-veryhigh-size-xxl-sd.png); }
	article.bubble.tweet.firefox.vhigh.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-veryhigh-size-xxl-sd.png); }
	
	/* size xl */
	article.bubble.tweet.vhigh.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-veryhigh-size-xl-sd.png); }
	article.bubble.tweet.firefox.vhigh.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-veryhigh-size-xl-sd.png); }
	
	/* size l */
	article.bubble.tweet.vhigh.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-veryhigh-size-l-sd.png); }
	article.bubble.tweet.firefox.vhigh.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-veryhigh-size-l-sd.png); }
	
	/* size m */
	article.bubble.tweet.vhigh.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-veryhigh-size-m-sd.png); }
	article.bubble.tweet.firefox.vhigh.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-veryhigh-size-m-sd.png); }
	
	/* size s */
	article.bubble.tweet.vhigh.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-veryhigh-size-s-sd.png); }
	article.bubble.tweet.firefox.vhigh.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-veryhigh-size-s-sd.png); }
	
	/* avatar & nav */
	article.bubble.tweet.vhigh .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-avatar-opa-veryhigh-sd.png); }
	article.bubble.tweet.vhigh nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-nav-opa-veryhigh-sd.png); }
	article.bubble.tweet.firefox.vhigh .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-avatar-opa-veryhigh-sd.png); }
	article.bubble.tweet.firefox.vhigh nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-nav-opa-veryhigh-sd.png); }

/* opacity high */
	
	/* size xxl */
	article.bubble.tweet.high.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-high-size-xxl-sd.png); }
	article.bubble.tweet.firefox.high.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-high-size-xxl-sd.png); }

	/* size xl */
	article.bubble.tweet.high.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-high-size-xl-sd.png); }
	article.bubble.tweet.firefox.high.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-high-size-xl-sd.png); }
	
	/* size l */
	article.bubble.tweet.high.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-high-size-l-sd.png); }
	article.bubble.tweet.firefox.high.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-high-size-l-sd.png); }
	
	/* size m */
	article.bubble.tweet.high.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-high-size-m-sd.png); }
	article.bubble.tweet.firefox.high.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-high-size-m-sd.png); }
	
	/* size s */
	article.bubble.tweet.high.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-high-size-s-sd.png); }
	article.bubble.tweet.firefox.high.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-high-size-s-sd.png); }
	
	/* avatar & nav */
	article.bubble.tweet.high .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-avatar-opa-high-sd.png); }
	article.bubble.tweet.high nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-nav-opa-high-sd.png); }
	article.bubble.tweet.firefox.high .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-avatar-opa-high-sd.png); }
	article.bubble.tweet.firefox.high nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-nav-opa-high-sd.png); }
	
/* opacity medium */

	/* size xxl */
	article.bubble.tweet.med.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-medium-size-xxl-sd.png); }
	article.bubble.tweet.firefox.med.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-medium-size-xxl-sd.png); }
	
	/* size xl */
	article.bubble.tweet.med.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-medium-size-xl-sd.png); }
	article.bubble.tweet.firefox.med.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-medium-size-xl-sd.png); }
	
	/* size l */
	article.bubble.tweet.med.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-medium-size-l-sd.png); }
	article.bubble.tweet.firefox.med.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-medium-size-l-sd.png); }
	
	/* size m */
	article.bubble.tweet.med.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-medium-size-m-sd.png); }
	article.bubble.tweet.firefox.med.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-medium-size-m-sd.png); }
	
	/* size s */
	article.bubble.tweet.med.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-medium-size-s-sd.png); }
	article.bubble.tweet.firefox.med.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-medium-size-s-sd.png); }
	
	/* avatar & nav */
	article.bubble.tweet.med .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-avatar-opa-medium-sd.png); }
	article.bubble.tweet.med nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-nav-opa-medium-sd.png); }
	article.bubble.tweet.firefox.med .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-avatar-opa-medium-sd.png); }
	article.bubble.tweet.firefox.med nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-nav-opa-medium-sd.png); }


/* opacity low */
	
	/* size xxl */
	article.bubble.tweet.low.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-low-size-xxl-sd.png); }
	article.bubble.tweet.firefox.low.xxl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-low-size-xxl-sd.png); }

	/* size xl */
	article.bubble.tweet.low.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-low-size-xl-sd.png); }
	article.bubble.tweet.firefox.low.xl { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-low-size-xl-sd.png); }
	
	/* size l */
	article.bubble.tweet.low.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-low-size-l-sd.png); }
	article.bubble.tweet.firefox.low.l { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-low-size-l-sd.png); }
	
	/* size m */
	article.bubble.tweet.low.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-low-size-m-sd.png); }
	article.bubble.tweet.firefox.low.m { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-low-size-m-sd.png); }
	
	/* size s */
	article.bubble.tweet.low.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-opa-low-size-s-sd.png); }
	article.bubble.tweet.firefox.low.s { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-opa-low-size-s-sd.png); }
	
	/* avatar & nav */
	article.bubble.tweet.low .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-avatar-opa-low-sd.png); }
	article.bubble.tweet.low nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-regular-nav-opa-low-sd.png); }
	article.bubble.tweet.firefox.low .avatar-wrapper { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-avatar-opa-low-sd.png); }
	article.bubble.tweet.firefox.low nav { background-image: url(../img/sd/bubbles-sd/bubble-tweet-firefox-nav-opa-low-sd.png); }


/* time bubble */
article.bubble.time {
	position: absolute;
	z-index: 10;
	width: 80px;
	height: 120px;
	background-image: url(../img/sd/bubbles-sd/bubble-time-sd.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	padding: 30px 40px 50px 40px;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	text-align: center;
}

article.bubble.time h1 {
	padding: 95px 0 0 0;
	color: #941403;
	font-size: 20px;
	font-weight: 300;
	background: transparent url(../img/sd/special-icon-time-sd.png) no-repeat top center;
	margin: 0 0 5px 0;
}

article.bubble.time p {
	margin: 0;
	color: #660E02;
	font-size: 36px;
	font-weight: 400;
}

/* downloads bubble */
article.bubble.downloads {
	position: absolute;
	z-index: 10;
	top: 70%;
	left: 10%;
	width: 120px;
	height: 160px;
	padding: 30px 40px 30px 40px;
	background-image: url(../img/sd/bubbles-sd/bubble-downloads-sd.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	text-align: center;
}

article.bubble.downloads h1 {
	padding: 100px 0 0 0;
	color: #5A7330;
	font-size: 20px;
	font-weight: 300;
	background: transparent url(../img/sd/special-icon-downloads-sd.png) no-repeat top center;
	margin: 0 0 5px 0;
}

article.bubble.downloads p {
	margin: 0;
	color: #3C4D21;
	font-size: 30px;
	font-weight: 400;
}

article.bubble.downloads p a,
article.bubble.downloads p a:visited {
	color: #3C4D21;
}

/* followers bubble */
article.bubble.followers {
	position: absolute;
	z-index: 10;
	top: 30%;
	left: 10%;
	width: 120px;
	height: 160px;
	padding: 30px 40px 30px 40px;
	background-image: url(../img/sd/bubbles-sd/bubble-downloads-sd.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	text-align: center;
}

article.bubble.followers h1 {
	padding: 100px 0 0 0;
	color: #348E99;
	font-size: 20px;
	font-weight: 300;
	background: transparent url(../img/sd/special-icon-followers-sd.png) no-repeat top center;
	margin: 0 0 5px 0;
}

article.bubble.followers p {
	margin: 0;
	color: #235F66;
	font-size: 30px;
	font-weight: 400;
}

article.bubble.downloads p a,
article.bubble.downloads p a:visited {
	color: #235F66;
}

/* error bubble */
article.bubble.error {
	position: absolute;
	z-index: 10;
	top: 30%;
	left: 10%;
	width: 120px;
	height: 160px;
	padding: 30px 40px 30px 40px;
	background-image: url(../img/sd/bubbles-sd/bubble-error-sd.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center; 
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	text-align: center;
}

article.bubble.error h1 {
	padding: 100px 0 0 0;
	color: #941403;
	font-size: 20px;
	font-weight: 300;
	background: transparent url(../img/sd/special-icon-error-sd.png) no-repeat top center;
	margin: 0 0 5px 0;
}

article.bubble.error p {
	margin: 0;
	color: #660E02;
	font-size: 29px;
	font-weight: 400;
	line-height: 30px;
}

/* search bubble */
article.bubble.search {
	position: absolute;
	z-index: 10;
	top: 30%;
	left: 10%;
	width: 120px;
	height: 160px;
	padding: 30px 40px 30px 40px;
	background-image: url(../img/sd/bubbles-sd/bubble-search-sd.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	text-align: center;
}

article.bubble.search h1 {
	padding: 100px 0 0 0;
	color: #941403;
	font-size: 20px;
	font-weight: 300;
	background: transparent url(../img/sd/special-icon-search-sd.png) no-repeat top center;
	margin: 0 0 5px 0;
}

article.bubble.search p {
	margin: 0;
	color: #660E02;
	font-size: 29px;
	font-weight: 400;
	line-height: 30px;
}
/* bubbles  /*/

/* colophon */
#colophon-wrapper { display: none; }

#colophon {
	padding: 40px 40px 10px 40px;
}

#colophon a,
#colophon a:visited {
	color: #FCB50D;
	text-decoration: none;
}

#colophon a:hover {
	color: #FDDA86;
}

#colophon h1 {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

#colophon h2 {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

#colophon p {
	line-height: 20px;
}

#cboxContent {
	position: relative;
	background: #2B7480 url(../img/sd/modal-bg-sd.png) top left repeat;
	box-shadow: 10px 10px 5px #002322;
	box-shadow: 6px 6px 0 rgba(0, 35, 34, 0.25); -moz-box-shadow: 6px 6px 0 rgba(0, 35, 34, 0.25); -webkit-box-shadow: 6px 6px 0 rgba(0, 35, 34, 0.25);
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	color: #FFF;
	font-size: 13px;
	line-height: 20px;
}

#cboxOverlay {
	background-color: #03171A;
}

#cboxClose {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 0;
	text-indent: -9999px;
	overflow: hidden;
	background: transparent url(../img/sd/modal-close-bttn-sd.png) top center no-repeat;
	height: 20px;
	width: 20px;
}

#cboxClose:hover {
	background: transparent url(../img/sd/modal-close-bttn-sd.png) bottom center no-repeat;
	cursor: pointer;
}

#cboxLoadingOverlay {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#cboxLoadedContent {
	margin: 0;
}
/* colophon /*/

/* footer */
footer {
	color: #0C5C66;
}

footer p.links {
	margin: 20px 0 0 0;
}

footer p.links a,
footer p.links a:visited {
	font-family: "Yanone Kaffeesatz","Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", helvetica, sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	font-size: 15px;
	color: #0C5C66;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 2px 6px;
	text-shadow: 0 1px #BFEDEF;
	text-transform: lowercase;
	text-decoration: none;
	background: transparent url(../img/sd/footer-bttn-sd.png) no-repeat top center;
	margin: 0 2px;
}

footer p.links a:hover {
	color: #C1E7EA;
	text-shadow: 0 -1px #3C6868;
	background: transparent url(../img/sd/footer-bttn-sd.png) no-repeat bottom center;
	text-decoration: none;
}
/* footer /*/

/* ----------------------------------------- */
/* END Page Components */